{% load static %}
<!DOCTYPE HTML>
<html>
<head>
  <title>Zixan – Right Sidebar</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>
<body class="is-preload right-sidebar">
  <div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
      <header id="header" class="container">

        <!-- Logo -->
        <div id="logo">
          <h1><a href="{% url 'home' %}">Zixan</a></h1>
          <span>Private Employment Agency</span>
        </div>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a href="{% url 'home' %}">Welcome</a></li>
            <li>
              <a href="#">Dropdown</a>
              <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li>
                  <a href="#">Phasellus consequat</a>
                  <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Phasellus consequat</a></li>
                    <li><a href="#">Magna phasellus</a></li>
                    <li><a href="#">Etiam dolore nisl</a></li>
                  </ul>
                </li>
                <li><a href="#">Veroeros feugiat</a></li>
              </ul>
            </li>
            <li><a href="{% url 'left_sidebar' %}">Left Sidebar</a></li>
            <li class="current"><a href="{% url 'right_sidebar' %}">Right Sidebar</a></li>
            <li><a href="{% url 'no_sidebar' %}">No Sidebar</a></li>
          </ul>
        </nav>

      </header>
    </div>

    <!-- Main -->
    <div id="main-wrapper">
      <div class="container">
        <div class="row gtr-200">
          <div class="col-8 col-12-medium">
            <div id="content">

              <!-- Content -->
              <article>
                <h2>Right Sidebar</h2>
                <p>This is the right sidebar page of Zixan. You can use this layout to provide detailed content while keeping extra information on the right.</p>

                <h3>More Information</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et lorem quam. Nulla quis nibh ipsum, sed egestas justo. Cras rutrum commodo luctus.</p>
              </article>

            </div>
          </div>
          <div class="col-4 col-12-medium">
            <div id="sidebar">

              <!-- Sidebar -->
              <section>
                <h3>Short Info</h3>
                <p>Quick links and resources can be placed here.</p>
                <footer>
                  <a href="#" class="button icon solid fa-info-circle">Find out more</a>
                </footer>
              </section>

              <section>
                <h3>Useful Links</h3>
                <ul class="style2">
                  <li><a href="#">Hiring Process</a></li>
                  <li><a href="#">For Employers</a></li>
                  <li><a href="#">Submit CV</a></li>
                  <li><a href="#">Job Listings</a></li>
                  <li><a href="#">FAQs</a></li>
                </ul>
              </section>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div id="footer-wrapper">
      <footer id="footer" class="container">
        <div class="row">
          {% for i in "1234"|make_list %}
          <div class="col-3 col-6-medium col-12-small">
            <section class="widget links">
              <h3>Resources {{ i }}</h3>
              <ul class="style2">
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </section>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-12">
            <div id="copyright">
              <ul class="menu">
                <li>&copy; Zixan. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

  </div>

  <!-- Scripts -->
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
  <script src="{% static 'assets/js/browser.min.js' %}"></script>
  <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
  <script src="{% static 'assets/js/util.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
